label {
    padding: 10px;
}


* {
    font-family: SegoeUILight, sans-serif;
}

.header {
    font-family: SegoeUIRegular, sans-serif;
}

p {
    margin: 10px;
}

a {
    text-decoration: none;
}

li {
    margin-bottom: 7px;
}

.low-opacity {
    opacity: 50%;
}

.close-bottom {
    margin-bottom: 0;
}

.close-top {
    margin-top: 0;
}

#head {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.center-block {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#interests {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.interest {
    margin: 5px;
    width: 30%;
}

.block {
    margin: 50px auto;
    width: 900px;
    border: solid 3px #DFDCE3;
}

#skills {
    width: 100%;
    display: flex;
    padding: 0 50px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

#info {
    width: 100%;
    padding: 20px;
    flex-direction: column;
    justify-content: flex-start;
}

.themes {
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
}

.skill {
    width: 40%;
    padding: 10px;
    margin-bottom: 20px;
}
